<div class="row flexbox animated fadeIn">
  <div class="col-md-4 panel">
    <div class="panel-header">
      <div class="fecha">
        <h2 class="fecha-dia">{{ date.getDate() }}</h2>
        <p class="mes-anio">{{ months[date.getMonth()  ] }} <br>{{  date.getFullYear() }}</p>
      </div>
      <p class="dia-seamana">{{ days[date.getDay()] }}</p>
      <mat-form-field class="example-full-width">
        <mat-label>Seleccionar Fecha</mat-label>
        <input (dateChange)="cambiar($event)" disabled matInput [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="panel-content">
      <ul class="lista">
        <li class="lista-item" *ngFor="let task of tasks.tasks"><span (click)="editar(task.id)"
            [ngClass]="{'realizado': task.status}" class="nombreItem">{{ task.text }}</span>
          <mat-checkbox (change)="seleccionar(task)" class="example-margin" [(ngModel)]="task.status">
          </mat-checkbox>
        </li>


      </ul>
    </div>
  </div>
  <div class="boton-fab">
    <button (click)="logout()" color="warn" mat-fab>
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button (click)="createTask()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>

  </div>
</div>
