/* width */
$principal : #DA3C57;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.flexbox {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .panel {

    background: #ffffff;
    padding-bottom: 20px;

    .panel-header {
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .fecha {
        display: flex;
        align-items: center;

        .fecha-dia {
          font-size: 40px;
        }

        .mes-anio {
          font-size: 12px;
          margin-top: 8px;
          margin-left: 8px;
        }
      }

      .dia-seamana {
        color: $principal;
      }
    }

    .panel-content {
      padding: 0 40px;
      height: 350px;
      overflow: scroll;
      overflow-x: hidden;
      margin-bottom: 40px;

      .lista {
        list-style: none;
        padding: 0;
        margin: 0;

        .lista-item {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          .realizado {
            color: #D8D9DB;
          }
        }
      }
    }
  }

  .boton-fab {
    margin-top: -30px;
    display: flex;
    width: 30%;

    justify-content: space-between !important;
  }

}
